<header class="flex justify-center">
  <nav class="rounded-full bg-black text-white px-4 py-2 flex gap-4">
    <a matRipple class="hover:bg-gray-700 px-4 py-2 rounded-full" 
    routerLink="/landing"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page">
    Home
    </a>
    <a matRipple class="hover:bg-gray-700 px-4 py-2 rounded-full" 
        routerLink="/sentiment"
        routerLinkActive="activebutton"
        ariaCurrentWhenActive="page">
        Sentiment
    </a>
    <a matRipple class="hover:bg-gray-700 px-4 py-2 rounded-full" 
        routerLink="/transcript"
        routerLinkActive="activebutton"
        ariaCurrentWhenActive="page">
        Transcript
    </a>
    <a matRipple class="hover:bg-gray-700 px-4 py-2 rounded-full" 
        routerLink="/detection"
        routerLinkActive="activebutton"
        ariaCurrentWhenActive="page">
        Detection
    </a>

    <button mat-button [matMenuTriggerFor]="menu">Other</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Temp</button>
      <button mat-menu-item>Temp</button>
      <button mat-menu-item>Temp</button>
    </mat-menu>
    
  </nav>
</header>
